
@{
    ViewData["Title"] = "Index";
}

<!--bread crumb -->
<div class="breadcrumbGeneral">
    <div class="container">
        <ul>
            <li><a href="index.html"><span>Home</span> <i class="fa-solid fa-arrow-right-long"></i></a></li>
            <li><a href="shop.html"><span>Shop</span> <i class="fa-solid fa-arrow-right-long"></i></a></li>
            <li><a href="#"></a><span>Smartphones</span></li>
        </ul>
    </div>
</div>
<main id="singleProductMain">
    <section id="singleProduct">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5 col-xxl-5 col-xl-5 col-md-12 col-12 col-sm-12">
                    <div class="product">
                        <div class="product-main row justify-content-center">
                            <div class="product-slide">
                                <div class="slider-for">
                                    <div class="product-1">
                                        <img style="width:100%" src="~/assets/images/big-size.jpg" alt="">
                                    </div>
                                    <div class="product-1">
                                        <img style="width:100%" src="~/assets/images/big-size.jpg" alt="">
                                    </div>
                                    <div class="product-1">
                                        <img style="width:100%" src="~/assets/images/big-size.jpg" alt="">
                                    </div>
                                </div>
                                <div class="slider-nav">
                                    <div class="product-2">
                                        <img src="~/assets/images/product/04.jpg" alt="">
                                    </div>
                                    <div class="product-2">
                                        <img src="~/assets/images/product/05.jpg" alt="">
                                    </div>
                                    <div class="product-2">
                                        <img src="~/assets/images/product/04.jpg" alt="">
                                    </div>
                                    <div class="product-2">
                                        <img src="~/assets/images/product/10.jpg" alt="">
                                    </div>
                                    <div class="product-2">
                                        <img src="~/assets/images/product/08.jpg" alt="">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-6 col-xl-6 col-md-12 col-12 col-sm-12">
                    <div class="rightCart">
                        <h3>Warch 42 mm Smart Watches</h3>
                        <div class="category">
                            Smart Watches
                        </div>
                        <div class="review">
                            <div class="row mt-4 align-items-center">
                                <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 top">
                                    <div class="i">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

                                    </div>
                                    <div class="text">
                                        <span>3 Reviews</span>
                                        <p>Add Your Review</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 d-flex justify-content-end align-items-center bottom">
                                    <p>Availablity</p>
                                    <h3>In Stock</h3>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="regular">
                                2,888.0
                            </div>
                            <div class="sale">
                                3,555.0
                            </div>
                        </div>
                        <div class="info-txt">
                            Vivamus in tempor eros. Phasellus rhoncus in nunc sit amet mattis. Integer in ipsum vestibulum, molestie arcu ac, efficitur tellus. Phasellus id vulputate erat.
                        </div>
                        <div class="product-id">
                            <span>SKU : <span>FW511948218</span></span>
                        </div>
                        <div class="selectAndQuantity">
                            <select name="" id="">

                                <option value="">Select Color</option>
                                <option value="">Select Color</option>
                                <option value="">Select Color</option>
                            </select>
                            <div class="quantity">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-xxl-2 col-xl-2 col-2 col-sm-2 col-md-2">
                                        <i class="fa-solid fa-minus"></i>
                                    </div>
                                    <div class="col-lg-8 col-xxl-8 col-xl-8 col-8 col-sm-8 col-md-8 text-center">
                                        Quantity
                                    </div>
                                    <div class="col-lg-2 col-xxl-2 col-xl-2 col-2 col-sm-2 col-md-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="addtoCatButtoon row">
                            <button class="col-lg-6 col-xl-6 col-xxl-6 col-sm-6 col-6 col-md-6">
                                <img src="~/assets/images/cart.png" alt=""><span>Add To Cart</span>
                            </button>
                            <div class="compare col-lg-3 col-xl-3 col-xxl-3 col-sm-3 col-3 col-md-3 d-flex align-items-center">
                                <img src="~/assets/images/compare.png" alt="">
                                <span>Compare</span>
                            </div>
                            <div class="wishlist col-lg-3 col-xl-3 col-xxl-3 col-sm-3 col-3 col-md-3 d-flex align-items-center">
                                <img src="~/assets/images/wishlist.png" alt="">
                                <span>Wishlist</span>
                            </div>

                        </div>
                        <div class="socialSingle">
                            <span>SHARE</span>
                            <i class="fa-brands fa-facebook-f"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-pinterest-p"></i><i class="fa-brands fa-facebook-f"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-pinterest-p"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="descriptionTechnicalSpecsReviews row text-center justify-content-center">
        <div class="col-lg-2 col-xl-2 col-xxl-2 col-sm-4 col-md-4 col-4 single">
            <p class="active" id="DescriptionP">Description</p>
        </div>
        <div class="col-lg-2 col-xl-2 col-xxl-2 col-sm-4 col-md-4 col-4 single">
            <p id="TechnicalP">Techincal Specs</p>
        </div>
        <div class="col-lg-2 col-xl-2 col-xxl-2 col-sm-4 col-md-4 col-4 single">
            <p id="ReviewsP">Reviews</p>
        </div>
    </div>
    <section id="Description">
        <div class="container">
            <div class="row justify-content-between top">
                <div class="col-lg-6 col-xl-6 col-xxl-6 col-12 col-sm-12 col-md-12">
                    <h4>Nuqqam Et Massa</h4>
                    <p>Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.</p>
                    <h4>Wireless</h4>
                    <p>Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.</p>
                    <h4>Fresh Design</h4>
                    <p>Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.</p>
                    <h4>Fabolous Sound</h4>
                    <p class="lastP">
                        Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum,
                        ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.
                        <br>Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo ves
                    </p>

                </div>
                <div class="col-lg-5 col-xl-5 col-xxl-5 col-12 col-sm-12 col-md-12 text-end">
                    <img src="~/assets/images/01.png" alt="">
                    <h4>Fresh Design</h4>
                    <p>Sed sodales sed orci molestie tristiq ibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.</p>

                </div>
            </div>
            <div class="bottom">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-xl-5 col-xxl-5 col-12 col-sm-12 col-md-12">
                        <img class="imgOnLeftLine" src="~/assets/images/line-1.png" alt="">
                        <img class="imgOnLeft" src="~/assets/images/06.png" alt="">
                    </div>
                    <div class="col-lg-7 col-xl-7 col-xxl-7 col-12 col-sm-12 col-md-12">
                        <div class="row align-items-center justify-content-between ">
                            <div class="col-lg-4 col-xl-4 col-xxl-4 col-4 col-sm-4 col-md-4 text-center">
                                <h4>
                                    Different Colors
                                </h4>
                                <p>
                                    Sed sodales sed orci
                                </p>
                            </div>
                            <div class="col-lg-4 col-xl-4 col-xxl-4 col-4 col-sm-4 col-md-4">

                                <img class="imgOnRightLine" src="~/assets/images/line-2.png" alt="">

                            </div>
                            <div class="col-lg-4 col-xl-4 col-xxl-4 col-4 col-sm-4 col-md-4 d-flex justify-content-end">
                                <img src="~/assets/images/04.png" alt="">
                            </div>
                        </div>
                        <div class="rightText">
                            <h4>Nuqqam Et Massa</h4>
                            <p>Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="TechnicalSpecs">
        <div class="container">
            <h4>
                Warch 42 mm Smart Watches
            </h4>
            <p>Height <span>38.6mm</span></p>
            <p>Material <span>Stainless Stee</span></p>
            <p>Case <span>40g</span></p>
            <p>Color <span>blue, grey,green,light,blue,lime</span></p>
            <p>Depth <span>10.6mm</span></p>
            <p>Width <span>10.6mm</span></p>
            <p class="lastP">Size <span>Large,Medium,Small</span></p>
        </div>

    </section>
    <section id="Reviews">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 col-xl-6 col-xxl-6">
                    <div class="title">
                        <h4>Based on Reviews</h4>
                    </div>
                    <div class="average-score row">
                        <div class="left col-lg-4 col-xl-4 col-xxl-4 col-4 col-md-4 col-sm-4">
                            <div class="num"><h5>4.3</h5></div>
                            <div class="text">Average score</div>
                        </div>
                        <div class="right col-lg-4 col-xl-4 col-xxl-4 col-4 col-md-4 col-sm-4">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="fiveStar">
                        <div class="row general">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4 col-xl-4 col-xxl-4 ps-0">
                                <div class="first">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                </div>
                                <div class="second">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                                </div>
                                <div class="third">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                </div>
                                <div class="fourth">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                </div>
                                <div class="fifth">
                                    <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 col-xl-6 col-xxl-6">
                                <div class="boxCommon">
                                    <span>4</span><div class="box"></div>

                                </div>
                                <div class="boxCommon">
                                    <span>4</span><div class="box"></div>

                                </div>
                                <div class="boxCommon">
                                    <span>4</span><div class="box"></div>

                                </div>
                                <div class="boxCommon">
                                    <span>4</span><div class="box"></div>

                                </div>
                                <div class="boxCommon">
                                    <span>4</span><div class="box"></div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 col-xl-6 col-xxl-6 Right">
                    <div class="title">
                        <h4>Add a review</h4>
                    </div>
                    <div class="yourRating">
                        <span>Your Rating</span>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

                    </div>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Name"></textarea>
                    <div class="button">
                        <button>Add Review</button>

                    </div>
                </div>
            </div>

        </div>
        <div class="container bottomForReviews">
            <div class="textPart">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-6 col-md-6 col-6">
                        <div class="name">Ali Tufan : <span>April 3, 2016</span></div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-6 col-md-6 col-6 text-end">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="ph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>

            </div>
            <div class="textPart">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-6 col-md-6 col-6">
                        <div class="name">Ali Tufan : <span>April 3, 2016</span></div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-6 col-md-6 col-6 text-end">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="ph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>

            </div>
            <div class="textPart">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-6 col-md-6 col-6">
                        <div class="name">Ali Tufan : <span>April 3, 2016</span></div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-6 col-md-6 col-6 text-end">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="ph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>

            </div>

        </div>
    </section>
    <section id="recentProduct">
        <div class="container">
            <div class="productTab">
                <ul class="d-flex">
                    <li><a href="">Recent Products</a></li>
                </ul>
            </div>
            <div class="productBox row justify-content-between">
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-2 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-2 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                    <img src="~/assets/images/product/02.jpg" alt="">
                    <div class="textPart">
                        <div class="title d-flex justify-content-start">
                            <div class="text">
                                Laptop
                            </div>
                        </div>
                        <div class="productDescription">
                            <a href="shop.html">Apple iPad Mini <br> G2356</a>
                        </div>
                        <div class="priceSection d-flex">
                            <div class="discount">
                                $1,255.00
                            </div>
                            <div class="sale">
                                <del>
                                    $2,999.11
                                </del>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</main>