
@{
    ViewData["Title"] = "Index";
}

    <div class="modal fade modalBootstrap" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-6 col-sm-6 col-md-6">
                        <div class="closeForModalOnBody">
                            X
                        </div>
                        <h2>
                            Join our newsletter and
                            get discount!
                        </h2>
                        <p>
                            Subscribe to the newsletter to receive updates about new products.
                        </p>
                        <div class="inputForModal">
                            <input type="email" placeholder="Your E-Mail">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                        <input type="checkbox"> <span>Dont show this popup again</span>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-6 col-sm-6 col-md-6">
                        <img src="~/assets/images/popup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


 
    <main>
        <!-- Slider Section Home -->
        @(await Component.InvokeAsync("Slider"))
        <!-- Banner on Home -->
        @await Component.InvokeAsync("Banner")
        <!-- Product Boxes --new arrival-- ---featured-- ---top selling----->
        @await Component.InvokeAsync("Product")
        <!-- our products-->
        @await Component.InvokeAsync("OurProduct")
        <!-- Categories -->
       
                    @await Component.InvokeAsync("ProductTab")
               
        <!-- special offers -->
                    @await Component.InvokeAsync("SpecialOffer")
       
        <!-- most viewed -->
        <section id="mostViewed">
            <div class="container">
                <div class="productTab">
                    <ul class="d-flex">
                        <li><a href="">Most Viewed</a></li>
                    </ul>
                </div>
                <div class="productBox row justify-content-between">
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-2 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-2 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- highlights -->
        <section id="highlights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-12 col-12">
                        <div class="heading">
                            <h3>Bestsellers</h3>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-12 col-12">
                        <div class="heading">
                            <h3>Featured</h3>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-12 col-12">
                        <div class="heading">
                            <h3>Hot Sale</h3>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-4 col-4">
                                    <img src="~/assets/images/product/10.jpg" alt="">
                                </div>
                                <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-8 col-sm-8 col-8">
                                    <a href="">Razer RZ02-01071500-R3M1</a>
                                    <div class="starts">
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>$50.00</span>
                                    </div>
                                    <div class="sale">
                                        <span>$2,999.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- services section -->
        <section id="services">
            <div class="container">
                <div class="row align-items-baseline">
                    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-3 col-sm-6 col-6 text-center boox">
                        <img src="~/assets/images/car.png" alt="">
                        <h3>Worldwide Shipping</h3>
                        <p>Free Shipping On Order Over $100</p>
                    </div>
                    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-3 col-sm-6 col-6 text-center boox">
                        <img src="~/assets/images/order.png" alt="">
                        <h3>Order Online Service</h3>
                        <p>Free Shipping On Order Over $100</p>
                    </div>
                    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-3 col-sm-6 col-6 text-center boox">
                        <img src="~/assets/images/payment.png" alt="">
                        <h3>Payment</h3>
                        <p>Free Shipping On Order Over $100</p>
                    </div>
                    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-3 col-sm-6 col-6 text-center boox">
                        <img src="~/assets/images/return.png" alt="">
                        <h3>Return 30 Days</h3>
                        <p>Free Shipping On Order Over $100</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

