
@{
    ViewData["Title"] = "Index";
}

    <div class="modal fade modalBootstrap" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-6 col-sm-6 col-md-6">
                        <div class="closeForModalOnBody">
                            X
                        </div>
                        <h2>
                            Join our newsletter and
                            get discount!
                        </h2>
                        <p>
                            Subscribe to the newsletter to receive updates about new products.
                        </p>
                        <div class="inputForModal">
                            <input type="email" placeholder="Your E-Mail">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                        <input type="checkbox"> <span>Dont show this popup again</span>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-xxl-6 col-6 col-sm-6 col-md-6">
                        <img src="~/assets/images/popup.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


 
    <main>
        <!-- Slider Section Home -->
        @(await Component.InvokeAsync("Slider"))
        <!-- Banner on Home -->
        @await Component.InvokeAsync("Banner")
        <!-- Product Boxes --new arrival-- ---featured-- ---top selling----->
        @await Component.InvokeAsync("Product")
        <!-- our products-->
        @await Component.InvokeAsync("OurProduct")
        <!-- Categories -->
                        @await Component.InvokeAsync("ProductTab")
        <!-- special offers -->

        @await Component.InvokeAsync("SpecialOffer")

        <!-- most viewed -->
        <section id="mostViewed">
            <div class="container">
                <div class="productTab">
                    <ul class="d-flex">
                        <li><a href="">Most Viewed</a></li>
                    </ul>
                </div>
                <div class="productBox row justify-content-between">
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-2 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-2 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="imageAndTextBox col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 ">
                        <img src="~/assets/images/product/02.jpg" alt="">
                        <div class="textPart">
                            <div class="title d-flex justify-content-start">
                                <div class="text">
                                    Laptop
                                </div>
                            </div>
                            <div class="productDescription">
                                <a asp-controller="product" asp-action="index">Apple iPad Mini <br> G2356</a>
                            </div>
                            <div class="priceSection d-flex">
                                <div class="discount">
                                    $1,255.00
                                </div>
                                <div class="sale">
                                    <del>
                                        $2,999.11
                                    </del>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- highlights -->
          @await Component.InvokeAsync("Highlight")
        <!-- services section -->
       @await Component.InvokeAsync("PaymentMethod") 
    </main>

