@model List<BasketVM>

@foreach (BasketVM item in Model.Take(3))
{
    <div class="row align-items-center mb-3">
        <div class="col-lg-4 col-xxl-4 col-xl-4 col-sm-4 col-md-4 col-4 imgForBasket">
            <img src="~/assets/images/product/@item.Image" alt="product">
        </div>
        <div class="col-lg-6 col-xxl-6 col-xl-6 col-sm-6 col-md-6 col-6">
            <div class="name">
                <a href="">@item.Title</a>
            </div>
            <div class="price">
                @item.Count x $@item.Price
            </div>
        </div>
        <div class="col-lg-2 col-xxl-2 col-xl-2 col-sm-2 col-md-2 col-2 closeX">
            <a id="closeIconforCartProduct" asp-controller="basket" asp-action="DeleteFromBasket" asp-route-id="@item.ProductId" >X</a>
        </div>
    </div>

}



    <div class="subTotal d-flex justify-content-between align-items-baseline">
        <span class="subTotal">Subtotal:</span>
        <span class="price">$
        @(Model.Sum(b => b.Price * b.Count))
        </span>

    </div>