@model Product
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-lg-6 h3 mb-4 text-gray-800">
        <h1>Product Update</h1>
    </div>
    <div class="col-lg-12 mx-auto">
        @*<div class="row proImg">
                @await Html.PartialAsync("_ProductDeleteImages", Model.ProductImages)
            </div>*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control bg-light" placeholder="Enter Product name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control bg-light" placeholder="Enter Product price">
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountedPrice"></label>
                <input asp-for="DiscountedPrice" class="form-control bg-light" placeholder="Enter Product discounted price">
                <span class="text-danger" asp-validation-for="DiscountedPrice"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control bg-light" placeholder="Enter Product code">
                <span class="text-danger" asp-validation-for="Code"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seria"></label>
                <input asp-for="Seria" class="form-control bg-light" placeholder="Enter Product seria">
                <span class="text-danger" asp-validation-for="Seria"></span>
            </div>
            <div class="form-check">
                <input asp-for="IsNewArrival" class="form-check-input">
                <label asp-for="IsNewArrival" class="form-check-label"></label>
                <span asp-validation-for="IsNewArrival"></span>
            </div>
            <div class="form-check">
                <input asp-for="IsBestSeller" class="form-check-input">
                <label asp-for="IsBestSeller" class="form-check-label"></label>
                <span asp-validation-for="IsBestSeller"></span>
            </div>
            <div class="form-check">
                <input asp-for="IsFeatured" class="form-check-input">
                <label asp-for="IsFeatured" class="form-check-label"></label>
                <span asp-validation-for="IsFeatured"></span>
            </div>

            <div class="form-group">
                <label asp-for="infoText"></label>
                <textarea asp-for="infoText" class="form-control bg-light" placeholder="Enter Product info"></textarea>
                <span class="text-danger" asp-validation-for="infoText"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductFile"></label>
                <input asp-for="ProductFile" accept="image/jpeg" class="form-control bg-light">
                <span class="text-danger" asp-validation-for="ProductFile"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImagesFile"></label>
                <input asp-for="ProductImagesFile" accept="image/jpeg" class="form-control" placeholder="Enter Product images">
                <span class="text-danger" asp-validation-for="ProductImagesFile"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select class="form-control bg-light" asp-for="CategoryId" asp-items="@new SelectList(ViewBag.MainCategory, nameof(Category.Id), nameof(Category.Name))">
                    <option value="" selected>Choose Category</option>
                </select>
                <span class="text-danger" asp-validation-for="CategoryId"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select class="form-control bg-light" asp-for="BrandId" asp-items="@new SelectList(ViewBag.Brand, nameof(Brand.Id), nameof(Brand.Name))">
                    <option value="" selected>Choose Brand</option>
                </select>
                <span class="text-danger" asp-validation-for="BrandId"></span>
            </div>
            <div class="InputContaine">
                <div class="InputContaineForadd">
                    @await Html.PartialAsync("_ProductColorPartial", Model)
                </div>
                <div class="addInputButton">
                    <a asp-action="GetFormColorCount" id="inputadding" class="btn btn-primary">Add</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Script{
    <partial name="_ValidateFormPartial">
        <script>
            $(document).on("click", "#inputadding", function (e) {
                e.preventDefault();
                let url = $(this).attr("href")
                fetch(url).then(response => {
                    if (response.ok) {
                        return response.text();
                    }
                }).then(data => {
                    $(".InputContaineForadd").append(data);
                })
            })
        </script>
}
