
@{
    ViewData["Title"] = "Index";
}

<!-- main -->
<main id="shopMain">
    <!-- breadcrumb -->
    <div class="breadcrumbGeneral">
        <div class="container">
            <ul>
                <li><a href="index.html"><span>Home</span> <i class="fa-solid fa-arrow-right-long"></i></a></li>
                <li><a href="shop.html"><span>Shop</span> <i class="fa-solid fa-arrow-right-long"></i></a></li>
                <li><a href="#"></a><span>Smartphones</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-xl-9 col-xxl-9 col-md-9 col-sm-12 col-12 LEFTonShop">
                <!-- product section -->
                <section id="BestSeller">
                    <div class="container">
                        <div class="productTab">
                            <div id="dotsForBestSeller"><a href="">Best Seller</a></div>
                        </div>
                        <div class="productBoxes row justify-content-between">
                          @await Component.InvokeAsync("BestSellerSingle") 
                         
                        </div>
                    </div>
                </section>
                <section id="SortProduct">
                    <div class="container">
                        <div class="productTab d-flex justify-content-between">
                            <a href="">Mobile & Tablet</a> <span>Showing 1-15 of 20 results</span>
                        </div>
                        <div class="menuproductTab d-flex justify-content-between align-items-center">
                            <div class="iconListImg">
                                <img src="assets/images/list-1.png" alt="">
                                <img src="assets/images/list-2.png" alt="">
                            </div>
                            <div class="right d-flex">
                                <div class="popularity">
                                    <select name="popularity" id="">
                                        <option value="">Sort by popularity</option>
                                        <option value="">Sort by popularity</option>
                                        <option value="">Sort by popularity</option>
                                        <option value="">Sort by popularity</option>
                                    </select>
                                </div>
                                <div class="Show">
                                    <select name="show 15" id="">
                                        <option value="">Show 25</option>
                                        <option value="">Show 16</option>
                                        <option value="">Show 38</option>
                                        <option value="">Show 90</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="productBox">
                            <div class="row justify-content-between">
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/01.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/03.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/05.jpg" alt="">
                                            </div>

                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/04.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/01.jpg" alt="">
                                            </div>

                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/01.jpg" alt="">
                                            </div>

                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/06.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="product1" class="col-lg-4 col-xxl-4 col-xl-4 col-md-6 col-sm-6 col-12">
                                    <div class="imageAndTextBox">
                                        <div class="productBoxesSectionSliderForSingleProduct1">
                                            <div class="box">
                                                <img src="assets/images/product/06.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="textPart">
                                            <div class="title d-flex justify-content-center">
                                                <span>-</span>
                                                <div class="text">
                                                    Laptop
                                                </div>
                                            </div>
                                            <div class="productDescription">
                                                <a href="shop.html">Apple iPad Mini <br> G2356</a>
                                            </div>
                                            <div class="priceSection d-flex">
                                                <div class="discount">
                                                    $1,255.00
                                                </div>
                                                <div class="sale">
                                                    <del>
                                                        $2,999.11
                                                    </del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="onHoverBasketCompareWishList">
                                            <div class="top">
                                                <button><img src="assets/images/cart.png" alt=""> <span>Add to Cart</span></button>
                                            </div>
                                            <div class="bottom">
                                                <div class="left">
                                                    <a href="compare.html"><img src="assets/images/compare.png" alt=""> Compare</a>
                                                </div>
                                                <div class="right">
                                                    <a href="wishlist.html"><img src="assets/images/wishlist.png" alt=""> Wishlist</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="PrevNext">
                    <div class="blog-pagination d-flex justify-content-between">
                        <span>Showing 1–15 of 20 results</span>
                        <ul class="d-flex">
                            <li><i class="fa-solid fa-arrow-left-long"></i> Prev Page</li>
                            <li><a href="">01</a></li>
                            <li><a href="">02</a></li>
                            <li><a href="">03</a></li>
                            <li><a href="">04</a></li>
                            <li>Next Page <i class="fa-solid fa-arrow-right-long"></i></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-3 col-sm-12 col-12 RIGHTonShop">
                <div class="categoryTab">
                    <div class="category"><a href="">Categories</a><i class="fa-solid fa-minus"></i></div>
                </div>
                <ul class="categoryList">
                   @await Component.InvokeAsync("Category")
                    
                </ul>
                <div class="price">
                    <div class="priceTab">
                        <div class="price"><a href="">Price</a><i id="iconForPrice" class="fa-solid fa-minus"></i></div>
                    </div>
                    <div class="rangeGeneral">
                        <span>Price</span>
                        <div class="range">
                            <div class="range_container">
                                <div class="sliders_control">
                                    <input id="fromSlider" type="range" value="10" min="0" max="100" />
                                    <input id="toSlider" type="range" value="40" min="0" max="100" />
                                </div>
                                <div class="form_control d-flex justify-content-center">
                                    <input class="form_control_container__time__input" id="fromInput" value="10" min="0" max="100" />
                                    <input class="form_control_container__time__input" id="toInput" value="40" min="0" max="100" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brands">
                    <div class="brandTab">
                        <div class="brand"><a href="">Brands</a><i class="fa-solid fa-minus"></i></div>
                    </div>
                    <div class="brandSearch">
                        <div class="search">
                            <input type="text" placeholder="Brand Search">
                        </div>
                        <div class="context">

                           @await Component.InvokeAsync("Brand")
                        </div>
                    </div>

                </div>
                <div class="colors">
                    <div class="colorTab">
                        <div class="color"><a href="">Colors</a><i class="fa-solid fa-minus"></i></div>
                    </div>
                    <div class="colorSearch">
                        <div class="search">
                            <input type="text" placeholder="Color Search">
                        </div>
                        <div class="context">

                            @await Component.InvokeAsync("Color")
                        </div>
                    </div>

                </div>
                <div class="bestseller">
                    <div class="bestsellerTab">
                        <div class="bestseller"><a href="">Best Seller</a><i class="fa-solid fa-minus"></i></div>
                    </div>
                    <div class="bestsellerPart">
                        <div class="basket">
                           @await Component.InvokeAsync("BestSellerOnSide")
                        </div>
                    </div>

                </div>
                <div class="banner">
                    @await Component.InvokeAsync("ShopBanner")
                </div>
            </div>
        </div>
    </div>
</main>