@{
    ViewData["Title"] = "Index";
}
<!-- main -->
<main id="_404PageMain" class="mb-12">
    <div class="container">
        <div class="row general">
            <div class="col-lg-12 col-xl-12 col-xxl-12 d-flex flex-wrap justify-content-center">
                <div class="img">
                    <img src="assets/images/error.png" alt="">

                </div>
                <div class="text text-center mb-10">
                    <h1>
                        Sorry but we couldn’t find the page you are looking for.
                    </h1>

                </div>
              
            </div>
        </div>
    </div>
</main>